.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    background-color: #ffffff;
    height: 67px;
    padding: 8px 16px;
    color: white;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .marvel-logo {
    height: 2rem; 
    margin-right: 16px;
  }
  
  .vertical-bar {
    font-size: 2rem;
    color: #333;
    margin-right: 8px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 4px 8px;
  }
  
  .search-icon {
    font-size: 24px;
    color: #333;
    margin-right: 8px;
  }
  
  input {
    border: none;
    background-color: transparent;
    outline: none;
    color: #333;
    font-size: 16px;
    width: 180px; /* Adjust the width as needed */
  }
  
  .star-icon {
    font-size: 24px;
    color: #333;
    cursor: pointer;
    margin-left: auto;
  }
  
  
  .star-icon:hover {
    color: gold; 
  }
  